* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 85%;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 18px 0;
}

h3 {
  color: rgba(229, 229, 229, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  padding-bottom: 15px;
}

ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgba(229, 229, 229, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
a:hover {
  cursor: pointer;
  color: gray;
}

.nav__links {
  width: 62%;
}

.nav__icons {
  display: flex;
  width: 12.5%;
  gap: 15px;
}

.hero__container {
  width: 100%;
  height: 58 0px;
}
.hero__container__content {
  width: 42%;
  padding: 86px 0;
  height: 580px; /* bigger height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.hero__container__content h2 {
  font-weight: 700;
  font-size: 60px; /* slightly bigger */
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 25px;
  
  max-height: calc(1.2em * 5); /* allow 5 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  margin: 0;
}

.hero__container__content p {
  font-weight: 400;
  font-size: 18px; /* a bit bigger */
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
  max-height: calc(1.4em * 6); /* allow 6 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


.hero__container__content__img {
  width: 56%;
  margin-top: 10px;
}

img {
  width: 100%;
  cursor: pointer;
}

main {
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

main[data-type="people"] {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #111; /* optional fallback background color */
}

body {
  background-color: rgba(20, 20, 20, 0.99);
}

.footer__container {
  width: 92.5%;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.footer__cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  padding-bottom: 26px;
  padding-top: 6px;
  width: 100%;
}

.footer__cards__item {
  border: 1px solid black;
  width: 15.8%;
  flex: 0 0 10%;
}

main.people-background {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}